.Inicio{
    display: flex;
    flex-direction: column;
    padding-top: 44px;
}

.Inicio h1{
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    
    
}



.name{
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
}

.name h2{
    color: #ffffff;
}
.name span{
    color:var(--accent-color);
}

.name img{
    border:11px solid var(--accent-color);
    border-radius: 12px;
    
}


.persons-content{
    padding-top: 25px;
}

.persons-content ul{
    display: flex;
    gap: 60px;
}

.name{
    font-family: 'Mulish', sans-serif;
}

.name h2{
    font-size: 30px;
}

.name span{
    font-size: 20px;
}
